body {
    padding-bottom: 15px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
h2 {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: rgba(51, 51, 51, 0.93);
    background-color: rgba(255, 255, 255, 0.49);
    width: 40%;
    margin: auto;
    padding: 7px 0 7px 0;
}
.col-md-6.col-sm-6.col-sm-6 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.adminCalBreak{
    height: 180px;
}
.adminEventBreak{
    height: 180px;
}
.volunteerListBreak{
    height: 180px;
}
.userCalBreak{
    height: 180px;
}
.userEventBreak{
    height: 180px;
}
.searchBreak{
    height:180px;
}
.volRepNav {
    margin: 5px;
}
fieldset {
    background-color: rgba(181, 212, 240, 0.8);
}
.user-event-cal {
    float: left;
    width: 80%;
    margin-right: 0;
    background: rgba(255,255,255,0.9);
    padding: 20px;
    margin-bottom: 40px;
}
.admin-event-cal {
  float: left;
  width: 80%;
  margin-right: 0;
  padding: 20px;
    background: rgba(255,255,255,0.9);
    margin-bottom: 40px;
}

.user-event-list {
    float: right;
    width: 15%;
    height: 100%;
    padding: 5px;
    background: rgba(255,255,255,0.9);
}

.admin-future-list {
  float: right;
  width: 15%;
  height: 100%;
  padding: 5px;
    background: rgba(255,255,255,0.9);
}

.admin-past-list {
  float: right;
  width: 15%;
  height: 100%;
  padding: 5px;
    background: rgba(255,255,255,0.9);
}

.event-list {
    list-style: none;
  float: right;
  margin: 5px;
    background: rgba(255,255,255,0.9);
}

.dropdown-menu {
  width: 300px;
}

.form-group-dropdown {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.form-group-userEvent {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.checkbox-pass {
  padding-left: 10%;
    background-color: rgba(181, 212, 240, 0.8);
}

.btn-primary {
  margin-top: 10%;
  margin-bottom: 10%;
}

.rz-bubble {
    display: none;
}

.table-back{
    background-color: #b4d5f0;
}
.volunteer-guests {
    border: 1px solid #DFDFDF;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}

.user-event-head {
    background-color: rgba(255, 255, 255, 0.49);
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 5px;
    width: 43%;
}

.task-dumpling {
    background-color: rgba(255, 255, 255, 0.49);
    padding: 5px;
    margin: 5px 0 5px 0;
}

.volunteerReportGrid {
    width: 100%;
    height: 1000px;
}
.wrap {
    white-space: pre-wrap;
}