body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.adminCalBreak{
    height: 150px;
}
.adminEventBreak{
    height: 150px;
}
.volunteerListBreak{
    height: 150px;
}
.userCalBreak{
    height: 150px;
}
.userEventBreak{
    height: 150px;
}
.volRepNav {
    float: right;
    margin: 5px;
}

.user-event-cal {
    float: left;
    width: 80%;
    margin-right: 0;
    padding-bottom: 20px;
}
.admin-event-cal {
  float: left;
  width: 80%;
  margin-right: 0;
  padding-bottom: 20px;
}

.user-event-list {
    float: right;
    width: 15%;
    height: 100%;
    padding: 5px;
}

.admin-future-list {
  float: right;
  width: 15%;
  height: 100%;
  padding: 5px;
}

.admin-past-list {
  float: right;
  width: 15%;
  height: 100%;
  padding: 5px;
}

.event-list {
    list-style: none;
  float: right;
  margin: 5px;
}

.dropdown-menu {
  width: 300px;
}

.form-group-dropdown {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.form-group-userEvent {
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.checkbox-pass {
  padding-left: 10%;
}

.btn-primary {
  margin-top: 10%;
  margin-bottom: 10%;
}