extends layout

block content
    header#top.site-header
        nav.navbar.navbar-default.navbar-fixed-top
            .container
                .row
                    .navbar-header
                        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                            i.fa.fa-bars
                        .logo-wrapper
                            a.navbar-brand(href='/#/' ng-hide='adminPath()')
                                | CHR
                                em Volunteers
                                span.logo-s

                    #main-menu.collapse.navbar-collapse
                        ul.nav.navbar-nav.navbar-right(ng-controller="navCtrl")
                            li
                                a(href='/#/' ng-hide='adminPath()') Home
                            li
                                a(href='/#/adminCal' ng-show='adminPath()') Home
                            li.dropdown(role="presentation" ng-hide="adminPath()").pull-right
                                a.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                                    | Admin
                                    span.caret
                                form.dropdown-menu
                                    fieldset.form-group-dropdown
                                        label(for="exampleInputEmail1") Email address
                                        input#exampleInputEmail1.form-control(type="email", placeholder="Enter email")
                                    fieldset.form-group-dropdown
                                        label(for="exampleInputPassword1") Password
                                        input#exampleInputPassword1.form-control(type="password", placeholder="Password")
                                    .checkbox-pass
                                        label
                                            input(type="checkbox")
                                            | Remember Me
                                            br
                                            a.btn.btn-primary(href="/#/adminCal") Submit
                            li.pull-right
                                a(href='/#/' ng-show="adminPath()") Logout

                        div.search
                        ul.nav.nav-pills(ng-controller="navCtrl" ng-show="adminPath()")

                            li.pull-left
                                a(href='/#/adminEvent') Create Event
                            li.pull-right
                                a(href='/#/volunteerList' ng-show="showVolunteers()") Event Volunteer Report
                            li.pull-right
                                a(href='/#/adminEvent' ng-show="showBack()") Back to Event
                            li.pull-right(ng-show="showSearch()")
                                form.navbar-form
                                    input.form-control(type="search")
                                    button.btn.btn-default(type="submit") Search

                   // #nav-search.collapse.navbar-collapse
                        ul.nav.nav-pills(ng-controller="navCtrl" ng-show="adminPath()")
                            li
                                a(href='/#/adminEvent') Create Event
                            li.pull-right
                                a(href='/#/volunteerList' ng-show="showVolunteers()") Event Volunteer Report
                            li.pull-right
                                a(href='/#/adminEvent' ng-show="showBack()") Back to Event
                            li.pull-right(ng-show="showSearch()")
                                form.navbar-form
                                    input.form-control(type="search")
                                    button.btn.btn-default(type="submit") Search


        //h1 C.H. Robinson
        //h2 CHR Volunteers

        //ul.nav.nav-pills(ng-controller="navCtrl")
            li
                a(href='/#/' ng-hide='adminPath()') Home
            li
                a(href='/#/adminCal' ng-show='adminPath()') Home
            li.dropdown(role="presentation" ng-hide="adminPath()").pull-right
                a.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
                    | Admin
                    span.caret
                form.dropdown-menu
                    fieldset.form-group-dropdown
                        label(for="exampleInputEmail1") Email address
                        input#exampleInputEmail1.form-control(type="email", placeholder="Enter email")
                    fieldset.form-group-dropdown
                        label(for="exampleInputPassword1") Password
                        input#exampleInputPassword1.form-control(type="password", placeholder="Password")
                    .checkbox-pass
                        label
                            input(type="checkbox")
                            | Remember Me
                            br
                            a.btn.btn-primary(href="/#/adminCal") Submit
            li.pull-right
                a(href='/#/' ng-show="adminPath()") Logout
        //hr
        //ul.nav.nav-pills(ng-controller="navCtrl" ng-show="adminPath()")
            li
                a(href='/#/adminEvent') Create Event
            li.pull-right
                a(href='/#/volunteerList' ng-show="showVolunteers()") Event Volunteer Report
            li.pull-right
                a(href='/#/adminEvent' ng-show="showBack()") Back to Event
            li.pull-right(ng-show="showSearch()")
                form.navbar-form
                    input.form-control(type="search")
                    button.btn.btn-default(type="submit") Search

                    body
    body
    .main-content
        .container
            .main(ng-view)

    footer
        .container
            .row
                .col-md-6.col-sm-6.col-sm-12
                    p.copyright
                        | Copyright © 2084
                        a(href='#') Company Name
                .col-md-6.col-sm-6.col-sm-12
                    ul.social
                        li
                            a.fa.fa-facebook(href='#')
                        li
                            a.fa.fa-twitter(href='#')
                        li
                            a.fa.fa-instagram(href='#')
                        li
                            a.fa.fa-google-plus(href='#')
    script(src='../../public/stylesheets/js/vendor/jquery-1.11.0.min.js')
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\\/script>')
    script(src='../../public/stylesheets/js/vendor/bootstrap.js')
    script(src='../../public/stylesheets/js/main.js')

