doctype html
html
    head
        //title//
        meta(charset='utf-8')
        title CHR Volunteers
        meta(name='description', content='CHR volunteer sign up')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //end title//

        link(rel='stylesheet' href='vendors/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='vendors/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css')
        link(rel='stylesheet' href='vendors/angular-ui-grid/ui-grid.min.css')
        link(rel='stylesheet' href='stylesheets/style.css')

        //styling links //
        link(rel='stylesheet', href='./stylesheets/css/bootstrap.min.css')
        link(rel='stylesheet', href='./stylesheets/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='./stylesheets/css/templatemo-style.css')
        link(rel='stylesheet', href='./stylesheets/css/font-awesome.min.css')
        script(src='./stylesheets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')
        //end styling links//


        link(rel='stylesheet' href='vendors/angularjs-slider/dist/rzslider.min.css')
        script(src='vendors/moment/min/moment.min.js')
        script(src='vendors/interact.js/dist/interact.min.js')
        script(src='vendors/angular/angular.min.js')
        script(src='vendors/angular-route/angular-route.min.js')
        script(src='vendors/jquery/jquery.min.js')
        script(src='vendors/bootstrap/dist/js/bootstrap.min.js')
        script(src='vendors/angular-animate/angular-animate.min.js')
        script(src='vendors/angular-touch/angular-touch.min.js')
        script(src='vendors/angular-ui-grid/ui-grid.min.js')
        script(src='vendors/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js')
        script(src='vendors/bootstrap-ui-datetime-picker/dist/datetime-picker.min.js')
        script(src='vendors/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js')
        script(src='vendors/angularjs-slider/dist/rzslider.min.js')
    body(ng-app='chrCalendarApp')
        block content
        script(src='javascripts/app.js')
        script(src='javascripts/controllers/adminCal.js')
        script(src='javascripts/controllers/adminEvent.js')
        script(src='javascripts/controllers/userCal.js')
        script(src='javascripts/controllers/userEvent.js')
        script(src='javascripts/controllers/volunteerList.js')
        script(src='javascripts/controllers/adminLogin.js')
        script(src='javascripts/controllers/navCtrl.js')
        script(src='javascripts/services/eventServe.js')
        script(src='javascripts/services/taskServe.js')
        script(src='javascripts/services/shiftServe.js')
        script(src='javascripts/services/volunteerServe.js')
        script(src='javascripts/services/navServe.js')
        script(src='javascripts/filters/filters.js')



