<div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <form name="adminEventForm">
        <div class="input-group">
          <label for="eventHostDropDown">Event Host</label>
          <select class="form-control" name="eventHostDropDown" id="eventHostDropDown" ng-model="event.host">
            <option value="CHAMPS">CHAMPS</option>
            <option value="CHR Cares">CHR Cares</option>
          </select>
        </div>
        <div class="input-group">
          <label for="eventName">Event Name</label>
          <input class="form-control" type="text" name="eventName" ng-model="event.title" id="eventName">
        </div>
        <div class="input-group">
          <label for="startTime">Event Start Date/Time</label>
          <input id="startTime" type="text" class="form-control" datetime="yyyy-MM-dd HH:mm"
                 datetime-picker="dd MMM yyyy HH:mm" ng-model="event.startsAt" is-open="startAtOpen"
                 ng-click="openStartAt($event, prop)"/>
        </div>
        <div class="input-group">
          <label for="endTime">Event End Date/Time</label>
          <input id="endTime" type="text" class="form-control" datetime="yyyy-MM-dd HH:mm"
                 datetime-picker="dd MMM yyyy HH:mm" ng-model="event.endsAt" is-open="endAtOpen"
                 ng-click="openEndAt($event, prop)"/>
        </div>
        <div class="input-group">
          <label for="eventDescription">Event Description</label>
          <input id="eventDescription" class="form-control" type="text" name="eventDescription"
                 ng-model="event.description">
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default" type="button" ng-click="saveEvent()">Save</button>
      <button class="btn btn-default" type="button">Copy</button>
      <button class="btn btn-default" type="button">Delete</button>
    </div>
  </div>
  <div ng-show="event._id">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <h3>Tasks</h3>
        <button class="btn btn-default" type="button">New Task</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="task-dumpling">
          <h4>Task Name</h4>
          <p>Task Description</p>
          <button type="button">Edit</button>
          <button type="button">Shifts</button>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>