<div class="adminEventBreak"></div>
<h2 class="text-center">{{event.title}} Event</h2>
<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <form name="adminEventForm" class="form-horizontal">
        <div class="input-group">
          <label for="eventHostDropDown">Event Host</label>
          <select class="form-control" name="eventHostDropDown" id="eventHostDropDown" ng-model="event.host">
            <option value="CHAMPS">CHAMPS</option>
            <option value="CHR Cares">CHR Cares</option>
          </select>
        </div>
        <div class="input-group">
          <label for="eventName">Event Name</label>
          <input class="form-control" type="text" name="eventName" ng-model="event.title" id="eventName" required>
          <span class="error" ng-show="adminEventForm.eventName.$error.required"></span>
        </div>
        <div class="input-group">
          <label for="startTime">Event Start Date/Time</label>
          <input
            id="startTime"
            type="text"
            class="form-control"
            datetime="yyyy-MM-dd HH:mm"
            datetime-picker="dd MMM yyyy h:mm a"
            ng-model="event.startsAt"
            is-open="startAtOpen"
            ng-click="startAtOpen = true"
            required
          />
          <span class="error" ng-show="adminEventForm.startTime.$error.required"></span>
        </div>
        <div class="input-group">
          <label for="endTime">Event End Date/Time</label>
          <input
            id="endTime"
            type="text"
            class="form-control"
            datetime="yyyy-MM-dd HH:mm"
            datetime-picker="dd MMM yyyy h:mm a"
            ng-model="event.endsAt"
            is-open="endAtOpen"
            ng-click="endAtOpen = true"
            required
          />
          <span class="error" ng-show="adminEventForm.endTime.$error.required"></span>
        </div>
        <div class="input-group">
          <label for="eventDescription">Event Description</label>
          <textarea id="eventDescription" class="form-control" type="text" name="eventDescription"
                    ng-model="event.description" required></textarea>
          <span class="error" ng-show="adminEventForm.eventDescription.$error.required"></span>
        </div>
      </form>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default" type="button" ng-click="saveEvent()" ng-disabled="adminEventForm.$invalid">
        Save</button>
      <button class="btn btn-default" type="button" ng-show="event._id" data-toggle="modal" data-target="#copyEvent">
        Copy</button>
      <button class="btn btn-default" type="button" data-toggle="modal" data-target="#deleteEventModal"
              ng-show="event._id">Delete</button>
      <div id="deleteEventModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Event</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal">
                <p>Are you sure you want to delete this event?</p>
                <p>All related tasks, shifts, and signed-up volunteers will be deleted as well.</p>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="removeEvent()">Yes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelDelete()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="copyEvent" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Copy Event</h4>
            </div>
            <div class="modal-body">
              <form class="form-horizontal" name="copyEvent">
                <div class="input-group">
                  <label for="newStartTime">New Event Start Date/Time</label>
                  <input
                    id="newStartTime"
                    type="text"
                    class="form-control"
                    datetime="yyyy-MM-dd HH:mm"
                    datetime-picker="dd MMM yyyy h:mm a"
                    ng-model="copiedEvent.startsAt"
                    is-open="newStartAtOpen"
                    ng-click="newStartAtOpen = true"
                    required
                  />
                </div>
                <div class="input-group">
                  <label for="newEndTime">New Event End Date/Time</label>
                  <input
                    id="newEndTime"
                    type="text"
                    class="form-control"
                    datetime="yyyy-MM-dd HH:mm"
                    datetime-picker="dd MMM yyyy h:mm a"
                    ng-model="copiedEvent.endsAt"
                    is-open="newEndAtOpen"
                    ng-click="newEndAtOpen = true"
                    required
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal"
                      ng-click="copyEvent()" ng-disabled="copyEvent.$invalid">Copy Event</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 <div ng-show="event._id">
    <div class="row" >
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <h3 class="title-head">Tasks</h3>
        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#newTaskModal">New Task</button>
        <div id="newTaskModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Task</h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal">
                  <div class="form-group form-group-dropdown">
                    <label for="newTaskName">Task Name</label>
                    <input class="form-control" type="text" id="newTaskName" name="newTaskName" ng-model="newTask.name" required>
                  </div>
                  <div class="form-group form-group-dropdown">
                    <label for="newTaskDesc">Description</label>
                    <textarea class="form-control" id="newTaskDesc" name="newTaskDesc" ng-model="newTask.description" required></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveNewTask()">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearNewTask()">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="task-dumpling row" ng-repeat="task in tasks">
          <div class="col-md-6">
            <h4>{{task.name}}</h4>
            <p>{{task.description}}</p>
            <button class="btn btn-default"  type="button" data-toggle="modal" data-target="#edit{{task._id}}">Edit Task</button>

            <div id="edit{{task._id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Task</h4>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal">
                      <div class="form-group form-group-dropdown">
                        <label for="taskName">Task Name</label>
                        <input class="form-control" type="text" id="taskName" name="taskName"
                               ng-model="task.name" required>
                      </div>
                      <div class="form-group form-group-dropdown">
                        <label for="taskDesc">Description</label>
                        <textarea class="form-control" id="taskDesc" name="taskDesc"
                                  ng-model="task.description" required></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="editTask(task._id, task)">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#delete{{task._id}}">
              Delete Task</button>
            <div id="delete{{task._id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Task</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to delete this Task and all associated Shifts and Volunteer Data?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-click="deleteTask(task._id)">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#shift{{task._id}}">
              New Shift</button>
            <div id="shift{{task._id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" value="2, 5" min="0" max="10" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Shifts</h4>
                  </div>

                  <div class="modal-body">
                    <div>
                      <form>
                        <div class="input-group">
                          <input
                             type="text"
                             placeholder="Enter Shift Date"
                             min-date="event.startsAt"
                             max-date="event.endsAt"
                             datetime-picker="MMMM d, yyyy"
                             datetime="yyyy-MM-dd"
                             enable-time="false"
                             ng-model="shiftDate"
                             is-open="shiftDateOpen"
                             ng-click="shiftDateOpen = true"
                             show-button-bar = 'false'
                             required
                          />
                        </div>
                        <label for="shiftTime">Time Range of Task</label>
                        <div>
                          <span>{{task.slider.min | time}}</span>
                          <span>{{task.slider.max | time}}</span>
                          <rzslider id="shiftTime"
                                    rz-slider-model="task.slider.min"
                                    rz-slider-high="task.slider.max"
                                    rz-slider-options="task.slider.options"></rzslider>
                        </div>
                        <label for="shiftLength">Shift Length</label>
                        <select id="shiftLength" ng-model="shiftLength">
                          <option value=30>00:30</option>
                          <option value=60>01:00</option>
                          <option value=120>02:00</option>
                          <option>Entire Length</option>
                        </select>
                        <label>Slots per Shift</label>
                        <input type="number" min="1" value="1" ng-model="shiftSlots">
                      </form>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="saveNewShift(task._id, task.name, $index,
                    shiftLength, shiftSlots, shiftDate)" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <table class="table table-condensed table-back">
              <tr>
                <th>Shift Date</th>
                <th>Shift Time</th>
                <th>Delete</th>
              </tr>
              <tr ng-repeat="shift in task.shifts">
                <td>{{shift.date | date:'MMM d, yyyy'}}</td>
                <td>{{shift.startTime | time}} - {{shift.endTime | time}}</td>
                <td><button class="btn btn-default" ng-click="deleteShift(shift._id)">Delete</button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>