<div>
	<h2>{{data.eventName}} Volunteer Report</h2>
	<div class="volRepNav">
		<button>Save</button>
		<button>Export to CSV</button>
	</div>
	<table class="table table-bordered table-striped">

        <tr>
            <th>Task</th>
            <th>Shift Time</th>
            <th>Volunteer Name</th>
            <th>Email Address</th>
            <th>Phone</th>
            <th>Shirt Size</th>
            <th>Guests</th>
        </tr>



        <tr ng-repeat="row in displayData">
            <td>{{row.taskName}}</td>
            <td>{{row.startTime}}-{{row.endTime}}</td>
            <td>{{row.volunteerName}}</td>
            <td>{{row.volunteerEmail}}</td>
            <td>{{row.volunteerPhone}}</td>
            <td>{{row.volunteerShirt}}</td>
            <td>
                <ul>
                    <li ng-repeat="guest in row.volunteerGuests}}>{{guest.name + ', ' + guest.shirtSize}}</li>
                </ul>
            </td>
        </tr>

	</table>
</div>