<div>
	<h2>{{event.name}} Volunteer Report</h2>
	<div class="volRepNav">
		<button>Save</button>
		<button>Export to CSV</button>
	</div>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Task</th>
			<th>Shift Time</th>
			<th>Volunteer Name</th>
			<th>Email Address</th>
			<th>Phone</th>
			<th>Shirt Size</th>
			<th>Guests</th>
		</tr>
		<tr ng-repeat="event in events">
			<td>{{event.newTask}}</td>
			<td>{{shift.startTime}}</td>
			<td>{{volunteer.fistName}} {{volunteer.lastName}}</td>
			<td>{{volunteer.email}}</td>
			<td>{{volunteer.phone}}</td>
			<td>{{volunteer.shirtSize}}</td>
			<td>{{volunteer.guests}}</td>
		</tr>
	</table>
</div>