<div class="volunteerListBreak"></div>
<div>
	<h2 class="text-center">{{event.name}} Volunteer Report</h2>
	<div class="volRepNav">
		<button>Save</button>
		<button>Export to CSV</button>
	</div>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Task</th>
			<th>Shift Time</th>
			<th>Volunteer Name</th>
			<th>Email Address</th>
			<th>Phone</th>
			<th>Shirt Size</th>
			<th>Guests</th>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>