extends layout

block content
  header
    h1 C.H. Robinson
    h2 Volunteer App
    .nav
      ul
        li
          a(href='/#/') home
        li
          a(href='/#/adminCal') admin

    .main(ng-view)
