doctype html
html
  head
    title= title
    link(rel='stylesheet' href='vendors/bootstrap/dist/css/bootstrap.css')
    script(src='vendors/angular/angular.min.js')
    script(src='vendors/angular-route/angular-route.min.js')
    script(src='vendors/jquery/jquery.min.js')
    script(src='vendors/bootstrap/dist/js/bootstrap.min.js')
  body(ng-app='chrCalendarApp')
    block content

    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='javascripts/app.js')
    script(src='javascripts/controllers/adminCal.js')
    script(src='javascripts/controllers/adminEvent.js')
    script(src='javascripts/controllers/userCal.js')
    script(src='javascripts/controllers/userEvent.js')
    script(src='javascripts/controllers/volunteerList.js')
    script(src='javascripts/controllers/adminLogin.js')

